<% provide :title, t(".cart") %>
<table id="cart" class="table table-hover table-condensed">
  <thead>
    <tr>
      <th style="width:50%"><%= t ".product" %></th>
      <th style="width:10%"><%= t ".price" %></th>
      <th style="width:8%"><%= t ".quantity" %></th>
      <th style="width:22%" class="text-center"><%= t ".subtotal" %></th>
      <th style="width:10%"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-th="Product">
        <div class="row">
          <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
          <div class="col-sm-10">
            <h4 class="nomargin"><%= t ".product_title" %></h4>
            <p><%= t ".product_description" %></p>
          </div>
        </div>
      </td>
      <td data-th="Price"><%= t ".unit_price" %></td>
      <td data-th="Quantity">
        <input type="number" class="form-control text-center" value="1">
      </td>
      <td data-th="Subtotal" class="text-center"><%= t ".subtotal_price" %></td>
      <td class="actions" data-th="">
        <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
        <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td><%= link_to root_path, class: "btn btn-warning" do %><i class="fa fa-angle-left"></i> <%= t ".continue_shopping" %><% end %></td>
      <td colspan="2" class="hidden-xs"></td>
      <td class="hidden-xs text-center"><strong><%= t ".total" %></strong></td>
      <td><%= link_to root_path, class: "btn btn-success" do %><%= t ".checkout" %> <i class="fa fa-angle-right"></i><% end %></td>
    </tr>
  </tfoot>
</table>
