<% provide :title, t(".title") %>

<div class="col-lg-3">
  <div class="list-group">
    <a href="#" class="list-group-item active"><h3><%= t ".category" %></h3></a>
    <a href="#" class="list-group-item"><%= t ".sub_category" %></a>
    <a href="#" class="list-group-item"><%= t ".sub_category" %></a>
    <a href="#" class="list-group-item"><%= t ".sub_category" %></a>
  </div>
</div>

<div class="col-lg-9">
  <div class="center jumbotron">
    <h1><%= t ".hello" %></h1>
    <p><%= link_to t(".learn_more"), root_path,class: "btn btn-primary btn-lg" %></p>
  </div>

  <div class="row">
    <%= render @products %>
  </div>
  <%= will_paginate @products %>
</div>
