<tr>
  <td><%= order_item.id%></td>
  <td><%= order_item.product_name %></td>
  <td><%= order_item.quantity %></td>
  <td><%= t ".currency", price: order_item.unit_price %></td>
  <td><%= t ".currency", price: order_item.total_price %></td>
</tr>
