<tr>
  <td><%= order_counter + Settings.number %></td>
  <td><%= order.customer_name %></td>
  <td><%= order.customer_address %></td>
  <td><%= order.customer_phone %></td>
  <td><%= l order.created_at, format: t("date.format.date_time") %></td>
  <td  class="<%= add_cus_css order.status %>">
    <strong>
      <%= t "order.status.#{order.status}" %>
    </strong>
  </td>
  <td><%= t "currency.format", price: order.total_price %></td>
  <td>
    <%= link_to admin_order_order_items_path(order),
      class: "btn btn-primary" do %>
      <i class="fa fa-eye"></i>&nbsp;<%= t(".show") %>
    <% end %>
    <% if order.in_progress? %>
      <%= link_to admin_approve_path(order.id), remote: true, method: :put,
        class: "btn btn-success" do %>
        <i class="fa fa-pencil"></i>&nbsp;<%= t ".approve" %>
      <% end %>
      <%= link_to admin_reject_path(order.id), remote: true, method: :put,
        class: "btn btn-danger" do %>
        <i class="fa fa-remove"></i>&nbsp;<%= t ".reject" %>
      <% end %>
    <% end %>
  </td>
</tr>
