  <tr>
  <td data-th="Product">
    <div class="row">
      <div class="col-sm-2 hidden-xs">
        <img src="http://placehold.it/100x100" alt="..." class="img-responsive"/>
      </div>
      <div class="col-sm-10">
        <h4 class="nomargin"><%= product.name %></h4>
      </div>
    </div>
  </td>
  <td data-th="Price"><%= t ".currency", price: product.price %></td>
  <td data-th="Quantity">
    <input type="number" class="form-control text-center" min="1" value="<%= product.quantity_in_cart %>">
  </td>
  <td data-th="Subtotal" class="text-center"><%= t ".currency", price: t(".sub_total_price") %></td>
  <td class="actions" data-th="">
    <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
    <%= link_to remove_cart_path(product), id: "destroy-product", "data-href": remove_cart_path(product),
      class: "btn btn-danger btn-sm" do %>
        <i class="fa fa-trash"></i>
    <% end %>
  </td>
</tr>
