<tr class="product_<%= product.id %>">
  <td><%= product.id %></td>
  <td><%= product.name %></td>
  <td>
      <%= image_tag product.image.url, class: "img_list" %>
  </td>
  <td><%= product.price %></td>
  <td class="text-center"><%= product.quantity %></td>
  <td class="text-center">
    <%= link_to edit_admin_product_path(product), class: "btn btn-info" do %>
      <i class="fa fa-edit"></i> <%= t ".edit" %>
    <% end %>
    <span class="product_id hidden"><%= product.id %></span>
    <%= link_to "#",
      class: "btn btn-danger btn_delete_product" do %>
      <i class="fa fa-trash"></i> <%= t ".delete" %>
    <% end %>
  </td>
</tr>
