<div class="col-md-12">
  <h1 class="text-left"><%= t ".list" %></h1>
  <div class="add-product">
    <%= link_to new_admin_product_path, class: "btn btn-success pull-right" do %>
      <i class="fa fa-plus"></i> <%= t ".new" %>
    <% end %>
  </div>
  <table class="table table-striped">
  <thead>
    <tr>
      <th><%= t ".id" %></th>
      <th><%= t ".name" %></th>
      <th><%= t ".image" %></th>
      <th><%= t ".price" %></th>
      <th class="text-center"><%= t ".quantity" %></th>
      <th class="text-center"><%= t ".action" %></th>
    </tr>
  </thead>
    <%= render @products %>
  </table>
</div>
