<% provide :title, t(".create") %>
<div class="col-md-6 col-md-offset-3">
  <h1><%= t ".create" %></h1>
  <%= form_for @category do |f| %>
    <% if @category.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-danger">
          The form contains <%= pluralize(@category.errors.count, "error") %>.
        </div>
        <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.label :name, t(".name") %>
    <%= f.text_field :name, class: "form-control" %>

    <%= f.submit t(".create"), class: "btn btn-primary" %>
  <% end %>
</div>
