<div class="col-md-4" >
  <div class="thumbnail">
    <%= image_tag product.image.url %>
    <div class="caption">
      <h3>
        <%= link_to truncate(product.name, length: Settings.product_title.length), product_path(product) %>
      </h3>
      <p><%=truncate(product.description, length: Settings.description.length)%></p>
      <p><%= number_to_currency(product.price) %></p>
      <p><%= link_to t(".add_cart"), add_cart_path(product), remote: true,
        method: :get, class: "btn btn-default" %></p>
    </div>
  </div>
</div>
